@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="padding:0 10px;">
            <a class="nav-link" style="font-size:13px;color:#667580;margin-top:8px;" asp-action="Index" asp-controller="Home">
                <i class="fas fa-home"></i>
                Trang Chủ
            </a>
        </li>
        <li class="nav-item" style="padding:0 10px;">
            <a class="nav-link" style="font-size:13px;color:#667580;margin-top:8px;" href="#">
                <i class="fas fa-bell"></i>
                Tin Tức
            </a>
        </li>
        <li class="nav-item" style="font-size:13px;color:#667580;margin-top:16px;padding:0 10px;">
            <div class="taikhoan">
                <i class="fas fa-user"></i>
                <a href="#" style="color:#667580;text-decoration: none;">
                    
                    @if (User.Identity.Name == null || User.Identity.Name == "")
                    {
                        
                    }
                    else
                    {
                        @User.Claims.Skip(2).FirstOrDefault().Value;
                    }

                    
                </a>
                <i class="sortdown-mobile fas fa-sort-down" style="top: 41%;position: absolute;margin-left: 6px;"></i>
            </div>
            <ul class="thongtin-taikhoan">
                <li class="item-thongtin">
                    Thông tin tài khoản
                </li>
                <hr>
                <li class="item-thongtin">
                    Đổi mật khẩu
                </li>
                <hr>
                <li class="item-thongtin">
                    <form asp-controller="Authentication" asp-action="Logout">
                        <button type="submit" style="outline:0;border:0;background:unset;width:100%;color:#667580;" class="dangxuat">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</div>