<div>
   <ul class="navbar-nav mr-auto">
       <li class="nav-item active" style="padding:0 10px;">
         <a class="nav-link" style="font-size:13px;color:#667580;margin-top:8px;" href="trangchu.html"><i class="fas fa-home"></i>
           Trang Chủ </a>
       </li>
       <li class="nav-item" style="padding:0 10px;">
         <a class="nav-link" style="font-size:13px;color:#667580;margin-top:8px;" href="#"><i class="fas fa-bell"></i>
           Tin Tức</a>
       </li>
       <li class="nav-item" style="font-size:13px;color:#667580;margin-top:16px;padding:0 10px;">
           <div class="taikhoan">
               <i class="fas fa-user"></i>
               <a href="#" style="color:#667580;text-decoration: none;">Dương Thanh Công</a>
               <i class="sortdown-mobile" style="top: 41%;position: absolute;margin-left: 6px;" class="fas fa-sort-down"></i>
           </div>
           <ul class="thongtin-taikhoan">
               <li class="item-thongtin">Thông tin tài khoản</li>
               <hr>
               <li class="item-thongtin">Đổi mật khẩu</li>
               <hr>
               <a href="dangnhap.html" style="text-decoration: none;color:#667580">
                   <li class="item-thongtin">
                       Đăng xuất
                   </li>
               </a>
           </ul>
       </li>
     </ul>
</div>