@{
    ViewData["Title"] = "Quên mật khẩu ";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}
<style>
    .margin-row {
        margin-top: 50px;
    }

</style>

<main>
<div class="overlay2"></div>

    <div class="p-5">
        <div class="text-center">
            <img src="/assets/image/logoHF.png" alt="">
            <div style="padding-bottom:50px;"></div>
            <h6 style="text-transform:uppercase;"><strong>Bạn quên mật khẩu?</strong></h6>
            <p style="color:red;">Không sao! Bạn chỉ cần nhập những thông tin bên dưới và gửi. Chúng tôi sẽ cấp lại bạn mật khẩu mới nhất qua gmail. Thân ái</p>
        </div>
        <form class="user" >
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id = "username"
                       name= "username"
                       onkeyup='check();'
                       placeholder="Nhập mã số sinh viên...">
            </div>
            <input type="button" class= "btn btn-primary btn-user btn-block" 
                   id="btn_submit"
                   name="btn_submit" 
                   value="Gửi"
                   disabled
            >
            <hr>
            <a asp-controller ="Authentication" asp-action= "Login"  class="btn btn-success btn-user btn-block">
                Quay lại đăng nhập
            </a>
        </form>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border:unset;background-color:transparent;">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img style="border-radius:50%;height:100px;width:100px;margin-left: 35px;margin-top: 200px;" src="~/assets/image/quaydeu.gif" />
                <div class="wavy-wraper">
                    <div class="wavy">
                        <span style="--i:1;">C</span>
                        <span style="--i:2;">H</span>
                        <span style="--i:3;">Ờ</span>
                        <span style="--i:4;">X</span>
                        <span style="--i:5;">Í</span>
                        <span style="--i:6;">Ú</span>
                        <span style="--i:7;">.</span>
                        <span style="--i:8;">.</span>
                    </div>
                 </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
  </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>

<script type="text/javascript">
    $("#btn_submit").click(function(){
        $(".modal").fadeIn(500);
        $(".overlay2").fadeIn(500);
        setTimeout(function(){
            $(".modal").fadeOut(500);
            $(".overlay2").fadeOut(500);
        }, 26000);
    })
	$("#btn_submit").on("click", function(){
        var username = $("#username").val();
		$.ajax({
		  url: "https://localhost:5001/V1/admin-panel/send-emails?userName="+ username,
		  method: "POST",
		  success : function(response){
		  	 swal({
                title: "Thông Báo",
                text: "Hệ thống đã tìm kiếm và gửi mật khẩu mới về email của bạn !",
                type: "success",
                confirmButtonClass: "btn-primary",
                confirmButtonText: "OK",
                closeOnConfirm: true,
            },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = "/ForgotPassword/Reset";
                    }
                });
		  }
		});
	});

     var check = function()
    {
        var username = $("#username").val();
          if(username == null || username == "")
        {
            document.getElementById('btn_submit').disabled = true
        }
        else
        {
            document.getElementById('btn_submit').disabled = false
        }
    }
</script>