
<main>
<div class="bg-left">
    <div class="title-left" style="text-transform: uppercase;">Bình luận</div>
</div>
<div style="padding-top:20px;">
    <p style="text-align: center;font-style: italic;">Bạn suy nghĩ sao về sự việc này?</p>
    <button style="margin:14px 39%" class="btn btn-primary btnOn">Nhận xét về sự việc này</button>
</div>
<div class="list-binhluan">
    <ul>
        <li>
            <div style="margin-top:10px;padding-bottom:10px;display: flex;justify-content: space-between;">
                <span class="name-binhluan">
                    <i class="fas fa-user"></i>
                    Nguyễn Khánh
                </span>
                <span style="color:grey;font-size: 14px;">
                    <i class="far fa-clock"></i>
                    11/01/2021 17:24
                </span>
            </div>
            <div class="nhanxet-binhluan">
                <b>Nhận xét:</b>
                <span class="desc-binhluan">sản phẩm rất tốt, nhưng cách nhân viên khiến khách phải mua bảo hiểm cho máy thì thực sự rất tệ. khiến rất khó chịu và không thoải mái.</span>
            </div>
        </li>
    </ul>
</div>
</main>
