@using SOR.ViewModel.Catalogs.NewLables
@using SOR.ViewModel.Catalogs.Reports;
@using SOR.ViewModel.Catalogs.Reports.Report
@using SOR.ViewModel.Common
@model PagedResult<GetReportViewModel>;
@{
    ViewData["Title"] = "Trang Chủ -";
    IEnumerable<GetNewsLableViewModel> newlable = (IEnumerable<GetNewsLableViewModel>)ViewData["newLable"];
}
<main>
    <div class="header-left">
        <div class="bg-left">
            <div class="title-left" style="text-transform: uppercase;">Trật tự an toàn xã hội</div>
        </div>
        <div style="padding-top:10px;"></div>
        <div class="carousel carousel-pc"
             data-flickity='{ "autoPlay": false,"pageDots": false,"draggable": false }'>
            <div class="carousel-cell">
               @for (var i = 0; i < @newlable.ToList().Count; i++)
              {
                  <div class="@newlable.ToList()[i].Id" style="cursor: pointer;"><a href="~/Home/Index?newslableId=@newlable.ToList()[i].Id">@newlable.ToList()[i].Name</a></div>
              }
            </div>
            
        </div>
        <!-- Dành cho mobile -->
        <div class="carousel carousel-mobile" style="display: none;"
             data-flickity='{ "autoPlay": false,"pageDots": false,"draggable": true }'>
            <div class="carousel-cell">
                <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
            </div>
            <div class="carousel-cell">
                <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Test1</div>
                <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Test2</div>
                <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Test3</div>
                <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Test4</div>
                <div class="khac" onclick="Khac()" style="cursor: pointer;">Test5</div>
            </div>
        </div>
        <hr>
    </div>
    <div id="hinhsu">
        <div style="padding-top:5px;"></div>
        @foreach (var item in Model.Items)
        {
             @await Html.PartialAsync("~/Views/Partial/_pReport.cshtml", item)
        }
    </div>
    

     @await Component.InvokeAsync("Pager", Model)
</main>



