 <div class="row row-mobile" style="background: white;margin-left: 1px;margin-top:19px;box-shadow: 1px 2px 4px rgb(0 0 0 / 20%);border-radius: 4px;padding:13px;">
     <div class="bg-left">
         <div class="title-left" style="text-transform: uppercase;">SỰ KIỆN SẮP DIỄN RA</div>
     </div>
     <div class="chucnang-HUFI">
         <ul class="list-chucnang-HUFI">
             <li class="item-thongbao">
                 <div style="display: flex;">
                     <div>
                         <img style="width:50px;height:50px;border-radius:5px;" w src="/assets/image/thongbao.jpg" alt="">
                     </div>
                     <div style="margin-left:10px;">
                         KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                     </div>
                 </div>
             </li>
         </ul>
     </div>
     <hr>
     <div class="chucnang-HUFI">
         <ul class="list-chucnang-HUFI">
             <li class="item-thongbao">
                 <div style="display: flex;">
                     <div>
                         <img style="width:50px;height:50px;border-radius:5px;" w src="/assets/image/thongbao.jpg" alt="">
                     </div>
                     <div style="margin-left:10px;">
                         KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                     </div>
                 </div>
             </li>
         </ul>
     </div>
     <hr>
     <div class="chucnang-HUFI">
         <ul class="list-chucnang-HUFI">
             <li class="item-thongbao">
                 <div style="display: flex;">
                     <div>
                         <img style="width:50px;height:50px;border-radius:5px;" w src="/assets/image/thongbao.jpg" alt="">
                     </div>
                     <div style="margin-left:10px;">
                         KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                     </div>
                 </div>
             </li>
         </ul>
     </div>
     <hr>
     <div class="chucnang-HUFI">
         <ul class="list-chucnang-HUFI">
             <li class="item-thongbao">
                 <div style="display: flex;">
                     <div>
                         <img style="width:50px;height:50px;border-radius:5px;" w src="/assets/image/thongbao.jpg" alt="">
                     </div>
                     <div style="margin-left:10px;">
                         KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                     </div>
                 </div>
             </li>
         </ul>
     </div>
     <hr>
     <div class="chucnang-HUFI">
         <ul class="list-chucnang-HUFI">
             <li class="item-thongbao">
                 <div style="display: flex;">
                     <div>
                         <img style="width:50px;height:50px;border-radius:5px;" w src="/assets/image/thongbao.jpg" alt="">
                     </div>
                     <div style="margin-left:10px;">
                         KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                     </div>
                 </div>
             </li>
         </ul>
     </div>
 </div>