 <div class="carousel carousel-pc" data-flickity='{ "autoPlay": false,"pageDots": false,"draggable": false }'>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
                        </div>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Test1</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Test2</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Test3</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Test4</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Test5</div>
                        </div>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
                        </div>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
                        </div>
    </div>
    <!-- Dành cho mobile -->
    <div class="carousel carousel-mobile" style="display: none;" data-flickity='{ "autoPlay": false,"pageDots": false,"draggable": true }'>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
                        </div>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Test1</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Test2</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Test3</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Test4</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Test5</div>
                        </div>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
                        </div>
                        <div class="carousel-cell">
                            <div class="hinhsu" onclick="HinhSu()" style="cursor: pointer;">Hình sự</div>
                            <div class="tenan" onclick="TeNan()" style="cursor: pointer;">Tệ nạn xã hội</div>
                            <div class="buonlau" onclick="BuonLau()" style="cursor: pointer;">Buôn lậu , vận chuyển, mua bán hàng cấm</div>
                            <div class="khaithac" onclick="KhaiThac()" style="cursor: pointer;">Khai thác trái phép</div>
                            <div class="khac" onclick="Khac()" style="cursor: pointer;">Khác</div>
                        </div>
    </div>