<div class="row row-mobile" style="background: white;margin-left: 1px;margin-top:19px;box-shadow: 1px 2px 4px rgb(0 0 0 / 20%);border-radius: 4px;padding:13px;">
    <div class="bg-left">
        <div class="title-left" style="text-transform: uppercase;">THÔNG BÁO</div>
    </div>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    KẾ HOẠCH THỰC HIỆN KHÓA LUẬN TỐT NGHIỆP HỌC KỲ 2 2021 - 2022
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    Kết quả xét học bổng KKHT học kỳ 2 2020 - 2021
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    THÔNG BÁO v/v Đăng ký đề tài đồ án môn học 2022 (Cập nhật danh sách sinh viên đã đăng ký)
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    THÔNG BÁO v/v Đăng ký đề tài Khóa luận tốt nghiệp - 2022 (Cập nhật danh sách đã đăng ký)
                </li>
            </a>
        </ul>
    </div>
</div>                    <div class="row row-mobile" style="background: white;margin-left: 1px;margin-top:19px;box-shadow: 1px 2px 4px rgb(0 0 0 / 20%);border-radius: 4px;padding:13px;">
    <div class="bg-left">
        <div class="title-left" style="text-transform: uppercase;">THÔNG BÁO</div>
    </div>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    KẾ HOẠCH THỰC HIỆN ĐỒ ÁN HỌC PHẦN HỌC KỲ 2 2021 - 2022
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    KẾ HOẠCH THỰC HIỆN KHÓA LUẬN TỐT NGHIỆP HỌC KỲ 2 2021 - 2022
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    Kết quả xét học bổng KKHT học kỳ 2 2020 - 2021
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a class="thong-bao-HUFI" href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    THÔNG BÁO v/v Đăng ký đề tài đồ án môn học 2022 (Cập nhật danh sách sinh viên đã đăng ký)
                </li>
            </a>
        </ul>
    </div>
    <hr>
    <div class="chucnang-HUFI">
        <ul class="list-chucnang-HUFI">
            <a href="#" style="color:black;text-decoration:none;">
                <li class="item-thongbao">
                    <i style="font-size:5px;padding-right:5px;color:red;" class="fas fa-circle"></i>
                    THÔNG BÁO v/v Đăng ký đề tài Khóa luận tốt nghiệp - 2022 (Cập nhật danh sách đã đăng ký)
                </li>
            </a>
        </ul>
    </div>
</div>