<main>
    <div class="header-left" style="margin-bottom: 10px;">
            <div class="bg-left">
                <div class="title-left" style="text-transform: uppercase;">
                    LƯU Ý KHI PHẢN ÁNH THÔNG TIN
                </div>
            </div>
        </div>
        <div>
            <h6 style="font-weight: 600;">1.Hệ thống tiếp nhận các phản ánh, kiến nghị về</h6>
            <ul>
                <li>
                    -Hành vi chậm trễ, gây phiền hà hoặc không thực hiện, thực hiện không đúng quy định
                    của cán bộ, công chức, viên chức trong giải quyết thủ tục hành chính;
                </li>
                <li>
                    -Những cơ chế, chính sách, thủ tục hành chính không phù hợp với thực tế, không đồng
                    bộ, không thống nhất, không hợp pháp, trái với các điều ước quốc tế mà Việt Nam đã
                    ký kết hoặc gia nhập;
                </li>
                <li>
                    -Những giải pháp, sáng kiến ban hành mới quy định về cơ chế, chính sách, thủ tục
                    hành chính liên quan đến hoạt động sản xuất, kinh doanh và đời sống của người dân.
                </li>
                <li>
                    -Các trường hợp chậm trễ, không thực hiện, thực hiện không đúng Nghị quyết 68/NQ-CP
                    và Quyết định 23/2021/QĐ-TTg
                </li>
            </ul>
            <h6 style="font-weight: 600;">
                2.Hệ thống không tiếp nhận đơn thư khiếu nại, tố cáo và hướng
                dẫn giải đáp pháp luật.
            </h6>
        </div>
</main>