.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index: 2;
}
/* Chuyển động trang */
.wavy-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
}

    .wavy-wraper.hidden {
        display: none;
    }

.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    margin-left: 40px;
    margin-top: 18px;
}

    .wavy > span {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 2em;
        text-transform: uppercase;
        animation: animate 1.5s ease-in-out infinite;
        animation-delay: calc(.1s * var(--i))
    }

@keyframes animate {
    0%, 100% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(0px);
    }
}
/* Chuyển động trang */
