@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}
<style>
    .margin-row {
        margin-top: 60px;
    }
</style>
@if (ViewBag.SuccessMsg != null)
    {
       <body onload="MessageBox('@ViewBag.SuccessMsg');"></body>
    }
<main >
        
    <div class="p-5">
        <div class="text-center">
            <img src="/assets/image/logoHF.png" alt="">
            <div style="padding-bottom:50px;"></div>
        </div>
        <form class="user" asp-controller="Authentication" asp-action="Login" method="post">
            <div class="form-group">
                <input type="text"  class="form-control form-control-user"
                       id="exampleInputEmail" name="userName" aria-describedby="emailHelp"
                       placeholder="Nhập mã số sinh viên...">
            </div>
            <div class="form-group">
                <input type="password"  class="form-control form-control-user"
                       id="exampleInputPassword" name="passWord" 
                       placeholder="Mật khẩu">
            </div>

            <div id="error" class= "container-fluid text-center mb-2 text-danger"></div>

            <button type="submit" id="dangnhap" class="btn btn-primary btn-user btn-block">
                Đăng nhập
             </button>
            <hr>
             <a asp-action = "Index" asp-controller = "ForgotPassword" class="btn btn-danger btn-user btn-block">
                Quên mật khẩu
            </a>
            <a asp-action="Registration" asp-controller="Authentication" class="btn btn-success btn-user btn-block">
                Tạo mới tài khoản
            </a>
        </form>
    </div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$("#dangnhap").click(function () {
		var username = $("#exampleInputEmail").val();
		var password = $("#exampleInputPassword").val();
		var error = $("#error");
		var ok = $("#ok");

		// resert 2 thẻ div thông báo trở về rỗng mỗi khi click nút đăng nhập
		error.html("");
		ok.html("");

		// Kiểm tra nếu username rỗng thì báo lỗi
		if (username == "") {
			error.html("Tên đăng nhập không được để trống !");
			return false;
		}
		// Kiểm tra nếu password rỗng thì báo lỗi
		if (password == "") {
			error.html("Mật khẩu không được để trống !");
			return false;
		}
	});

    function MessageBox(item)
    {
        if(item == "True")
        { 
            //Nếu đúng tài khoản và mật khẩu
            swal({
                title: "Thông Báo",
                text: "Đăng nhập thành công !",
                type: "success",
                confirmButtonClass: "btn-primary",
                confirmButtonText: "OK",
                closeOnConfirm: true,
            },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = "/Home/Index";
                    }
                });
        }
        else if(item == "False")
        {
            //Nếu sai tài khoản và mật khẩu
             swal({
                 title: "Thông Báo",
                 text: "Tên đăng nhập hoặc mật khẩu không chính xác !",
                 type: "error",
                 confirmButtonClass: "btn-primary",
                 confirmButtonText: "OK",
                 closeOnConfirm: true,
             })
        }
    }
</script>

